---
import { AnimatedPinDemo } from "../components/AnimatedPinDemo";
import BaseLayout from "../Layout/BaseLayout.astro";
import "../css/style.css";
---

<BaseLayout
  ><div
    class="flex flex-col items-center justify-center w-full h-full gap-1 px-3 py-5"
  >
    <p
      class="text-3xl font-extrabold text-center text-white transition-all duration-500 cursor-pointer hover:text-blue-400"
    >
      My Javascript Playground
    </p>
    <p class="text-lg text-center text-white">
      This Is My Mini Project I've Created In Order To Learn Javascript or
      Typescript
    </p>
  </div>
  <div
    class="flex flex-wrap items-center justify-center flex-1 h-full mx-3 mb-5"
  >
    <AnimatedPinDemo
      title="Projects 1"
      href="https://www.youtube.com/"
      client:only
    />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
    <AnimatedPinDemo client:only />
  </div></BaseLayout
>
